.main {
    margin-top: 20px;
    color: rgba(0,0,0,.54);

    .add-transaction {
        max-width: 850px;
        border-radius: 10px;
        background: white;
        margin: 0 auto;
        padding: 20px;

        .title {
            padding: 20px 0px;
            border-bottom: 1px solid rgb(209, 208, 208);
            font-size: 20px;
            color: rgba(0,0,0,.87);
        }

        form {
            padding: 20px;

        }

        .form-input-group {
            border: 1px solid rgb(204, 200, 200);
            margin: 5px;
            border-radius: 5px;
            padding: 5px;
            height: 64px;
            box-sizing: border-box;
            cursor: pointer;

            &.image {
                height: 100%;
            }

            .right-chevron {
                width: 15px;
                height: 15px;
            }

            .select-item {
                display: flex;
                align-items: center;
                justify-content: space-between;

                &--icon {
                    flex: 1;
                    height: 20px;
                    width: 20px;
                }

                &--right {
                     flex: 3;
                     display: flex;
                     justify-content: space-between;
                     align-items: center;
                }

                input {
                    width: 100%;
                    border: none;
                    padding:3px 0px;
                }
            }
        }

        .not-include-report {
            display: flex;
            padding: 20px 0px;
            input {
                margin-right: 20px;
            }

            .report-title {
                font-weight: bold;
                color: rgba(56, 55, 55, 0.87);
                margin-bottom: 10px;
            }
        }

        .btn {
            background: #2db84c;
            padding: 10px 30px;
            border: none;
            border-radius: 5px;
            color: white;
            font-weight: 18px;
            font-weight: bold;
            text-transform: uppercase;
        }

        .btn-default {
            background: white;
            color: #2db84c;
        }

        .btn-wrapper {
            text-align: right;
        }

        .row {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
        
            .col-md-3 {
                width: 25%;
            }
        
            .col-md-4 {
                width: 33.33%;
            }
        
            .col-md-6 {
                width: 50%;
            }
        
            .col-md-8 {
                width: 66.67%;
            }
        
            .col-md-9 {
                width: 75%;
            }
            .col-md-12 {
                width: 100%;
            }
        }
        
        
        .dropdown {
            height: 64px;
            margin: 5px;
            width: 240px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        
            &-title {
                font-size: 12px;
                margin-bottom: 5px;
                color: rgba(0,0,0,.54);
            }
        
            &-menu {
                height: 100%;
                border-radius: 8px;
                border: 1px solid rgba(0,0,0,.12);
                padding: 8px 12px 9px 16px;
                box-sizing: border-box;
                cursor: pointer;
                position: relative;
                &:hover {
                    border: 1px solid rgba(0,0,0,0.3);
                }
                .icon-chevron {
                    height: 15px;
                    width: 15px;
                }
            }
        
            &-item {
                display: flex;
                flex: 1 1 auto;
                height: 24px;
                align-items: center;
                &--icon {
                    height: 30px;
                    width: 30px;
                    margin-right: 10px;
                }
        
                &--text {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    align-items: center;
                    label {
                        color: rgba(0,0,0,.87);
                        line-height: 24px;
                        font-size: 16px!important;
                        font-weight: 400;
                    }
                }
            }
        
            &-body {
                display: none;
                position: absolute;
                left: 0;
                width: 100%;
                top: 105%;
        
                &.active {
                    display: block;
                }
                
                .items {
                    box-shadow: 0px 10px 10px 7px rgba(0,0,0,0.3);
                    background: white;
                }
                
                .item {
                    &:hover {
                        box-shadow: 0 0 3px gray;
                    }
                    display: flex;
                    align-items: center;
                    padding: 3px;
                    cursor: pointer;
        
                    &-icon {
                        height: 30px;
                        width: 30px;
                        margin-right: 10px;
                    }
                    &-name {
                        font-size: 14px;
                        line-height: 20px;
                        color: rgba(0,0,0,.87);
                        font-weight: 500;
                        margin: 5px 0px;
        
                    }
                    &-value {
                        font-size: 12px;
                        line-height: 16px;
                        margin: 0;
                        color: rgba(0,0,0,.54);
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        display: block;
        
                    }
                }
            }
        }
    }
}